<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <div class="css">
        <center>
            <h2>homepage</h2>
            <h3>ini adalah beranda anda</h3>
            <br />
            <a href="/logout">logout</a>
        </center>
    </div>
</body>
</html>