<!DOCTYPE html>
<h1>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="style.css"/>
    </head>

    <body>
        <div class="css">
            <h1>login form</h1>
            <form action="authlogin" method="POST">
                <input type="email" name="email" placeholder="email" required />
                <input 
                    type="password"
                    name="password"
                    placeholder="password"
                    required
                    />
                <input type="submit"/>
            </form>
            <br />
            <center><a href="/register">tidak ada akun?</a></center>
        </div>
    </body>
</h1>