<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="css">
        <h1>register</h1>
        <form method="POST" action="auth_register">
            <input type="text" name="nama" placeholder="nama anda" required>
            <input type="text" name="email" placeholder="email" required>
            <input 
            type="password" 
            name="password" 
            placeholder="password"
            />
            <input type="submit" value="register">
        </form>
        <br />
        <center><a href="login.ejs">kembali ke login</a></center>
    </div>
</body>
</html>